@font-face {
    font-family: 'SfProDisplayRegular';
    src: url('../webfonts/sf-pro-display-regular-webfont.woff2') format('woff2'), url('../webfonts/sf-pro-display-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SfProDisplayRegular';
    src: url('../webfonts/sf-pro-display-light-webfont.woff2') format('woff2'), url('../webfonts/sf-pro-display-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SfProDisplaySemibold';
    src: url('../webfonts/sf-pro-display-semibold-webfont.woff2') format('woff2'), url('../webfonts/sf-pro-display-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SfProDisplayMedium';
    src: url('../webfonts/sf-pro-display-medium-webfont.woff2') format('woff2'), url('../webfonts/sf-pro-display-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SfUiTextRegular';
    src: url('../webfonts/sfuitext-regular-webfont.woff2') format('woff2'), url('../webfonts/sfuitext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'SfProDisplayRegular';
    background-color: #f3f4f4;
    background-image: url(../images/number-pattern.png);
    background-repeat: repeat-y;
    background-size: cover;
    color: #000000;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'SfProDisplayRegular';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.96rem;
    color: #004452;
    margin-bottom: 3.7vh;
    margin-top: 13vh;
    line-height: 1.2;
}

h2 {
    font-family: 'SfProDisplaySemibold';
    font-weight: normal;
    font-size: 2.25rem;
    color: #004452;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

h2::before {
    content: url(../images/h2-icon.png);
    margin-right: 20px;
}

h3 {
    font-family: 'SfProDisplayMedium';
    font-size: 1.875rem;
    color: #004452;
    text-align: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
}


/* Header Section */

.header {
    background: linear-gradient(to right, #cacaca, #ececec, #cacaca);
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.wrapper {
    max-width: 1170px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.header-wrap {
    justify-content: space-between;
    flex-wrap: wrap;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.main-nav {
    padding: 0 15px 0 45px;
    height: 100%;
}

.main-nav-list {
    display: flex;
    height: inherit;
}

.main-nav-list li {
    margin: 0 2px;
    height: inherit;
    display: flex;
}

.nav-link {
    height: inherit;
    font-family: 'SfProDisplayRegular';
    font-weight: normal;
    text-transform: uppercase;
    color: #004452;
    opacity: 0.6;
    font-size: 1.25rem;
    padding: 0 18px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(255, 255, 255, 0);
}

.nav-link:hover,
.nav-active {
    opacity: 1;
    border-bottom: 2px solid #004452;
}

.sub-nav {
    display: flex;
    padding: 0 10px;
}

.sub-nav .fab {
    margin: 0 12px;
    opacity: 0.6;
    font-size: 1.5rem;
    color: #004452;
    cursor: pointer;
}

.sub-nav .fab:hover {
    opacity: 1;
}

.additional-bg-1 {
    background: radial-gradient(40% 50%, rgba(255, 255, 255, 0.6), rgba(231, 231, 231, 0.6));
}

.additional-bg-2 {
    background: radial-gradient(40% 50%, rgba(206, 206, 206, 0.6), rgba(231, 231, 231, 0.6));
}


/* Main Section */

.main {
    height: 100vh;
    padding-top: 70px;
    background-image: url(../images/main-bg.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
}

.main-wrap {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.simple-btn {
    font-family: 'SfProDisplayRegular';
    font-weight: normal;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #9dc342;
    border-radius: 40px;
    border: none;
    padding: 16px 92px;
    cursor: pointer;
}

.simple-btn:hover {
    background-color: #004452;
}

.scroll-down-icon {
    width: 32px;
    height: 75px;
    position: absolute;
    bottom: 26vmin;
    animation: blink 3s linear 0s infinite normal;
}


/* Portfolio Section */

.portfolio-wrap {
    flex-direction: column;
    height: 100vh;
    padding: 0 15px;
}

.slider-row {
    display: flex;
    margin: -15px;
}

.porfolio-item {
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    /* border: 1px solid rgba(136, 163, 166, 0.8); */
    box-shadow: inset 0 0 1px #575858, 0 0 2px #cfd0d0;
    cursor: pointer;
    margin: 15px;
}

.porfolio-item:hover {
    background-color: rgba(255, 255, 255, 0.4);
    /* border: 1px solid rgba(21, 34, 36, 0.8); */
    box-shadow: inset 0 0 1px #444d4f, 0 0 2px #cfd0d0;
}

.portfolio-item-pic {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-item-title {
    display: inline-block;
    font-size: 1.25rem;
    font-family: 'SfUiTextRegular';
    color: #004452;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 30px));
    font-size: 0;
    outline: none;
    padding: 25px 10px;
    background-color: rgba(221, 221, 221, 0.4);
    border: none;
    cursor: pointer;
    animation: blink 3s linear 0s infinite normal;
    z-index: 999;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-prev::before {
    content: url('../images/arrow-prev.png');
    width: 18px;
    height: 33px;
}

.slick-next::before {
    content: url('../images/arrow-next.png');
    width: 18px;
    height: 33px;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.slick-dots li button {
    border: none;
    font-size: 0;
    outline: none;
    background: none;
}

.slick-dots li button::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #004452;
    cursor: pointer;
}

.slick-active button::before {
    background-color: #004452;
}


/* About Section */

.about-wrap {
    flex-direction: column;
    padding: 0 15px;
}

.advantage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10px 10px 10px;
}

.advantage-item {
    width: 420px;
    height: 180px;
    background-color: rgb(255, 255, 255, 0.15);
    box-shadow: 0 0 27px rgb(0, 68, 83, 0.15);
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(0deg, #004452, #80b635) 1;
    padding: 25px;
    margin: 22px 0;
}

.advantage-content {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right top;
}

.advantage-item:nth-of-type(1) .advantage-content {
    background-image: url(../images/number-bg-1.png);
}

.advantage-item:nth-of-type(2) .advantage-content {
    background-image: url(../images/number-bg-2.png);
}

.advantage-item:nth-of-type(3) .advantage-content {
    background-image: url(../images/number-bg-3.png);
}

.advantage-item:nth-of-type(4) .advantage-content {
    background-image: url(../images/number-bg-4.png);
}

.advantage-pic {
    position: absolute;
    transform: scale(0.6);
    top: -100px;
    left: -95px;
}

.advantage-text {
    width: 55%;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'SfProDisplayRegular';
    font-weight: normal;
    font-size: 1.25rem;
}

.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.partner-item {
    margin: 15px;
}


/* Team Section */

.team-wrap {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.team-info {
    font-family: 'SfProDisplayRegular';
    font-weight: normal;
    font-size: 1.5rem;
}

.team-info p {
    margin-bottom: 40px;
}

.line {
    border-color: #004452;
    background-color: #004452;
}

.first-line {
    width: 25%;
}

.second-line {
    width: 10%;
}

.team-slider {
    max-width: 1140px;
    width: inherit;
    margin: 0 auto;
    padding-bottom: 40px;
}

.team-item {
    font-size: 0;
}

.team-item-content {
    display: flex;
}

.team-item figure,
.team-item article {
    float: left;
}

.team-item figure {
    margin-right: 40px;
}

.team-item article {
    font-family: 'SfProDisplayMedium';
    font-size: 1.5rem;
    color: #004452;
    font-style: italic;
    font-weight: normal;
    padding: 45px 15px;
}

.team-item article p {
    margin-bottom: 40px;
}

.team-item-cont {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.team-item-cont::after {
    content: url(../images/vertical-rombs.png);
    position: absolute;
    bottom: -20px;
    left: calc(50% - 30px);
}

.team-item-subcont {
    width: 211px;
    height: 211px;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 68, 82, 0.36);
}

.team-item-subcont img {
    position: absolute;
    transform: rotate(-45deg);
    top: -95px;
}

.team-item-legend {
    margin-top: 40px;
    text-align: center;
}

.team-item-title {
    font-family: 'SfProDisplaySemibold';
    font-size: 1.75rem;
    color: #004452;
}

.team-item-subtitle {
    font-family: 'SfProDisplaySemibold';
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}


/* Contact Section */

.geometric-bg {
    background-image: url(../images/geometric-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-wrap {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.simple-form {
    max-width: 615px;
    width: 52.5%;
    margin-top: 30px;
    padding: 0 25px;
    margin-bottom: 50px;
}

label,
input,
textarea {
    display: block;
    width: 100%;
}

label {
    font-size: 1.125rem;
    text-align: left;
    margin-bottom: 10px;
}

.form-field,
textarea {
    font-family: 'SfProDisplayRegular';
    font-weight: 300;
    padding: 10px;
    color: #004452;
    font-size: 1.2rem;
    background-color: #dfe0e0;
    border: 1px solid #698c93;
    outline: none;
    margin-bottom: 20px;
}

textarea {
    margin-bottom: 50px;
}

.form-field:focus,
textarea:focus {
    background-color: #ffffff;
    border: 1px solid #004452;
    font-weight: normal;
}

.success-msg {
    color: #ffffff;
    background-color: #9dc342;
    padding: 25px;
    border-radius: 10px;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Footer Section */

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-wrap {
    padding: 0 15px;
}

.sub-footer-1 {
    display: flex;
    width: 100%;
    background: rgba(65, 65, 65, 0.8);
    padding: 30px 0;
}

.sub-footer-1 .footer-wrap {
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-footer-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}

.sub-footer-2 .footer-wrap {
    justify-content: center;
}

.footer-info {
    color: #ffffff;
    font-family: 'SfProDisplayRegular';
    font-weight: 300;
    font-size: 1.125rem;
    display: flex;
}

.copy-right {
    font-size: 1rem;
}

.footer-addres::before {
    content: url('../images/addres-icon.png');
    margin-right: 10px;
}

.footer-email::before {
    content: url('../images/email-icon.png');
    margin-right: 10px;
}

.footer-phone::before {
    content: url('../images/phone-icon.png');
    margin-right: 10px;
}

.footer .sub-nav .fab {
    color: #ffffff;
}

@media (min-width: 1920px) {
    .rombs-on-side,
    .romb-on-side {
        position: relative;
    }
    .rombs-on-side::before {
        content: url('../images/rombs-on-side-1.png');
        position: absolute;
        top: 235px;
    }
    .rombs-on-side::after {
        content: url('../images/rombs-on-side-2.png');
        position: absolute;
        top: 25px;
        right: 0;
    }
    .romb-on-side::before {
        content: url('../images/romb-on-side-1.png');
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
    }
    .romb-on-side::after {
        content: url('../images/romb-on-side-2.png');
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 0;
    }
}

@media (max-width: 1170px) {
    .portfolio-item-pic img {
        width: 80%;
        height: 80%;
    }
    .portfolio-item-title {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 1.125rem;
    }
    /* Header Section */
    .logo img {
        transform: scale(0.75);
    }
    .mobile-nav {
        cursor: pointer;
        color: #ffffff;
        font-size: 2rem;
        margin: 17px;
        display: flex;
        align-items: center;
    }
    .mobile-nav-show {
        color: #1d4653;
    }
    .header-nav {
        width: 80%;
        flex-direction: column;
        position: fixed;
        align-items: flex-start;
        right: 0;
        height: 100%;
        background: #929292;
    }
    .main-nav {
        padding: 0;
    }
    .main-nav-list {
        flex-direction: column;
    }
    .main-nav-list li {
        margin: 0;
        margin-top: 25px;
        height: auto;
    }
    .nav-link {
        color: #ffffff;
        font-family: 'SfProDisplayRegular';
        font-weight: 300;
        opacity: 0.5;
        border-bottom: 0;
        border-left: 5px solid rgb(255, 255, 255, 0);
        padding: 5px 15px;
        font-size: 1.5rem;
    }
    .nav-link:hover,
    .nav-active {
        opacity: 1;
        border-bottom: 0;
        border-left: 5px solid #ffffff;
    }
    .sub-nav {
        margin-top: 40px;
    }
    .sub-nav .fab {
        color: #ffffff;
    }
    /* Main Section */
    h1 {
        font-size: 1.5rem;
        margin-top: 80px;
        color: #1d4653;
    }
    .read-more-btn {
        font-size: 1rem;
        padding: 10px 50px;
    }
    /* Portfolio Section */
    .portfolio-item-pic img {
        width: 60%;
        height: 60%;
    }
    .portfolio-item-title {
        font-size: 0.8125rem;
        bottom: 7px;
    }
    /* About Section */
    h2 {
        font-size: 1.375rem;
    }
    .advantage-container {
        justify-content: center;
    }
    h3 {
        font-size: 1.375rem;
    }
    /* Team Section */
    .team-info {
        font-size: 1rem;
    }
    .team-item-title {
        font-size: 1.125rem;
    }
    .team-item-subtitle {
        font-size: 0.875rem;
    }
    .team-item article {
        font-size: 1rem;
    }
    /* Contact Section */
    .simple-form {
        width: 100%;
    }
    label {
        font-size: 1.125rem;
    }
    .form-field,
    textarea {
        font-size: 1.25rem;
        padding: 15px;
    }
    /* Footer Section */
    .sub-footer-1 {
        flex-direction: column;
    }
    .footer-info {
        margin-bottom: 20px;
        font-size: 1rem;
    }
    .copy-right {
        margin-bottom: 0;
        font-size: 0.75rem;
    }
    .footer-info p {
        text-align: center;
    }
    .footer-info,
    .footer .sub-nav {
        width: 100%;
        justify-content: center;
    }
    .footer .sub-nav {
        margin-top: 0;
    }
}

@media (max-width: 576px) {
    .advantage-item {
        height: 170px;
        padding: 15px;
    }
    .advantage-content {
        background-size: contain;
    }
    .advantage-pic {
        transform: scale(0.55);
        top: -110px;
        left: -100px;
    }
    .advantage-text {
        font-size: 1rem;
    }
    .partners {
        justify-content: center;
    }
    .partner-item {
        transform: scale(0.6);
    }
    .simple-btn {
        font-size: 1rem;
        padding: 10px 50px;
    }
    /* Team Section */
    .team-item-content {
        flex-direction: column;
        align-items: center;
    }
    .team-item figure {
        margin-right: 0;
    }
    /* Footer Section */
    .copy-right {
        width: 100%;
        order: 2;
        text-align: center;
        font-size: 0.875rem;
    }
    .footer .sub-nav {
        width: 100%;
        order: 1;
        justify-content: center;
    }
}

.hidden {
    display: none;
}